#top-bar-text {
    color: black;
    padding-left: 1%;
    font-family: 'Exo 2', sans-serif;
}
body {
    font-family: 'Exo 2', sans-serif;
}
#top-bar {
    /* width: 100%; */
    /* background-color: green; */
    display: flex;
    padding: 1rem;
    font-size: 2rem;
    color: black;
}
#top-img {
    width:40px;
}
#formsection {
    /* display: flex; */
    /* background-color: red; */
    padding: 1%;
}
#formsection label {
    font-size: 1.5rem;
}
#searchbarid {
    width: 100%;
    height: 40px;
    border-radius: 2px;
    border: 1px solid black;
    font-size: 1.2rem;
    margin-top: 1%;
}
#searchbtn {
    padding-left: 2%;
    padding-right: 2%;
    height: 2rem;
    margin-top: 1%;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
}
#searchbtn:hover {
    padding-left: 2%;
    padding-right: 2%;
    height: 2rem;
    margin-top: 1%;
    background-color: grey;
    border: 1px solid black;
}
#display {
    /* width: 100%; */
    /* background-color: grey; */
    /* height: 100vh; */
    margin-top: 1%;
    /* padding-top: 1%; */
    display: flex; 
    padding-left: 2%;
    padding-right: 2%;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    align-items: flex-start;
    
}
#display img{
    max-width: 32%;
    /* max-height: auto; */
    margin: 0 auto;
    margin-top: 1%;
}
/* ____________________________________________________________ */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /* ___________________________________________________________ */

  .image {
    margin: auto 20px;
  }